.navbar{
    background-color:#8a164e !important; 
    border-bottom: 2px solid #2b76c8; 
    display: flex;
    justify-content: space-between;
}

.navbar-brand,
.nav-link {
    color: white !important; 
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #f8d7ff !important;
}

.navbar-toggler {
    border-color: white !important;
}
footer{
    background-color:#8a164e !important;
}
img.rounded-circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.abot{
    background-color: rgba(138, 22, 78, 0.2);
}
